// IMPORT ==============================
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Code+Pro&display=swap');


// GERAL ==============================
html{
  scroll-behavior: smooth;
  color: #333333;
}

a{
  text-decoration: none;
}


// PÁGINA:HOME ==============================
#home{
  .logo{
    height: 140px;
  }
}


// PÁGINA:ANOTAÇÕES ==============================
#note{
  h1,h2,h3{
    font-weight: bold;
  }

  h1{
    font-size: 2em;
    text-transform: uppercase;
  }
   
  h2{
    font-size: 2.5em;
  }
    
  h3{
    font-size: 2em;
  }

  h4{
    font-size: 1.5em;
  }

  a{
    color: #343A40;
    &.disabled{
      background-color: #FFFFFF !important;
    }
  }

}

#content.show{
  #sidebar{
    margin-left: -15rem;
  }
 }

#sidebar{
  min-height: 100vh;
  margin-left: 0;

  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  .sidebar-footer{
    padding: 0.875rem 1.25rem;
    font-weight: bold;
    text-align: center;
  }
  .list-group {
    width: 15rem;
    .list-group-item:hover{
      background-color: #495056 !important;
    }
  }
  a:hover, a:focus{
    background-color: inherit;
  }
}

@media screen and (max-width: 768px){
  #content.show{
    #sidebar{
      margin-left: 0;
    }
  }

  #sidebar{
    margin-left: -15rem;
  }

  #note-content{
    overflow: hidden;
  }

  .show{
    .nav-top{
      display: none !important;
    }
  }
}

.nav-top{
  font-size: 0.8em;
  font-weight: 100;
}

.code{
  span{
    font-weight: 100;
  }

  button{
    font-size: .6em;
  }
}